body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8fbff;
  color: #1a1a1a;
}

.navbar {
  background: #2196f3;
  color: white;
}

.card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  padding: 20px;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-2px);
}
